<!DOCTYPE html>
<!--<auther>杰</auther>-->
<!--<create>1620629311</create>-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="author" content="/http://www.fractal-technology.com">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>世界的记忆中国传统音乐录音档案中国艺术研究院-欢迎页</title>
    <meta name="keywords" content="世界的记忆中国传统音乐录音档案中国艺术研究院">
    <meta name="description" content="世界的记忆中国传统音乐录音档案中国艺术研究院">
    <script type="text/javascript">
      if (!window.matchMedia) {
        var el = document.createElement("div");
        el.style.cssText =
          "position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #575757; z-index: 999999;";
        el.innerHTML =
          '<div style="position: absolute; top: 40%; left: 0; right: 0; margin: auto; width: 80%; font-family: Microsoft YaHei; font-size: 2em; font-weight: bold; text-align: center; color: #fff;">您当前使用的浏览器版本过低，<br>建议尽快升级您的浏览器，以获得更好的浏览体验！</div>';
        document.documentElement.appendChild(el);
      }
    </script>
    <link rel="stylesheet" href="css/vendor.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/hrb.css">
    <style>
      .x-header.showd .navBox {
        padding-top: 130px;
      }
      .x-header.showd {
        height: 0;
      }
      .guide * {
        cursor: none;
      }
      body * {
        cursor: none !important;
      }
      a {
        text-decoration: none;
        color: inherit;
        cursor: none;
      }
      .x-container {
        position: unset;
      }
      .slick-nav {
        display: none;
      }
    </style>
  </head>
  <body>
<a href="/raylink_0"></a>
    <div style="display: none"><img src="image/share.png" alt=""></div>
    <div class="Cursor"><!-- 鼠标指针 --></div>
    <div id="app" class="x-container">
      <div class="audio_btn" style="display: none">
        <div class="audio-mod" data-set=""></div>
      </div>
      <x-header class="x-header w" style="z-index: 1000"></x-header>
      <div v-if="showguide" class="guide1">
        <ul id="scene" class="scene">
          <li class="layer li1" data-depth="0.02">
            <div class="bgBox flexDiv">
              <div class="bgs bgs1" style="background-image: url(image/lyj/guide1.jpg)"></div>
              <div class="bgs bgs2" style="background-image: url(image/lyj/guide2.jpg)"></div>
            </div>
          </li>
          <li class="layer li2" data-depth="0.2">
            <div class="bgs bgs14" style="background-image: url(image/lyj/gf14.png)"></div>
          </li>
          <li class="layer li3">
            <div class="bgBox borF"></div>
          </li>
          <li class="layer li4" data-depth="0.17">
            <div class="bgs bgs3" style="background-image: url(image/lyj/gf2.png)"></div>
          </li>
          <li class="layer li5" data-depth="0.1">
            <div class="bgs bgs4 bgs16" style="background-image: url(image/lyj/gf3.png)"></div>
          </li>
          <li class="layer li6" data-depth="0.2">
            <div class="bgs bgs4" style="background-image: url(image/lyj/gf4.png)"></div>
          </li>
          <li class="layer li7" data-depth="0.12">
            <div class="bgs bgs7" style="background-image: url(image/lyj/gf7.png)"></div>
          </li>
          <li class="layer li8" data-depth="0.15">
            <div class="bgs bgs8" style="background-image: url(image/lyj/gf8.png)"></div>
          </li>
          <li class="layer li9" data-depth="0.15">
            <div class="bgs bgs13" style="background-image: url(image/lyj/gf13.png)"></div>
          </li>
          <li class="layer li10" data-depth="0.19">
            <div class="bgs bgs6" style="background-image: url(image/lyj/gf6.png)"></div>
          </li>
          <li class="layer li11" data-depth="0.1">
            <div class="bgs bgs5" style="background-image: url(image/lyj/gf5.png)"></div>
          </li>
          <li class="layer li12" data-depth="0.2">
            <div class="bgs bgs9" style="background-image: url(image/lyj/gf9.png)"></div>
          </li>
          <li class="layer li13" data-depth="0.2">
            <div class="bgs bgs15" style="background-image: url(image/lyj/gf15.png)"></div>
          </li>
          <li class="layer li14" data-depth="0.1">
            <div class="bgs bgs10" style="background-image: url(image/lyj/gf10.png)"></div>
          </li>
          <li class="layer li15" data-depth="0.1">
            <div class="bgs bgs12" style="background-image: url(image/lyj/gf12.png)"></div>
          </li>

          <li class="layer li16" data-depth="0.06">
            <div class="bgs bgs11" style="background-image: url(image/lyj/gf11.png)"></div>
          </li>
          <li class="layer li17" data-depth="0.1">
            <div class="cont">
              <div class="guide_logo">
                <a><img src="image/lyj/logo.png" alt="" class="i"></a>
              </div>
              <div class="txtH1">世界的记忆</div>
              <div class="txtH2">Memory of the World</div>
              <div class="txtH3">中国传统音乐录音档案</div>
              <div class="txtH4">Chinese traditional music sound archives</div>
              <div class="txtH5 txtH4">
                <img src="image/lyj/tif.png" alt="">
              </div>
              <div class="btn_come"><div class="t">进入</div></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="guide2">
        <div class="pagepiling">
          <div class="section" v-for="(item , index) in Banners" :key="index" :class="`section${index+1}`">
            <div class="imgs">
              <div class="imgBox">
                <div class="img p-show" :style="'background-image: url('+item.pic+')'"></div>
                <div class="img m-show" :style="'background-image: url('+item.pic+')'"></div>
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
              </div>
            </div>
            <div class="inner">
              <div class="x-wrap">
                <div class="p1 p">{{item.desc_one}}</div>
                <div class="p2 p">{{item.desc_two}}</div>
              </div>
            </div>
            <div class="span_line"></div>
          </div>
        </div>

        <div class="slick-nav">
          <div class="slick-arrow slick-prev" @click_1111="getdatas('专题')">
            <span>专题</span>
          </div>
          <div class="slick-arrow slick-next" @click_1111="getdatas('讲坛')">
            <span>讲坛</span>
          </div>
        </div>
        <!-- <div class="guide_logo">
          <a><img src="/image/lyj/logo.png" alt="" class="i" /></a>
        </div> -->
        <div class="btn_come">
          <div class="t">进入<br>主题</div>
        </div>
        <div class="lineBox">
          <div class="line_s">
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
          </div>
          <div class="line_h">
            <div class="d"></div>
            <div class="d"></div>
            <div class="d"></div>
          </div>
        </div>
      </div>
      <div class="guide3">
        <div class="cont">
          <div class="slick-mod">
            <div class="slick-item" data-container="资源">
              <div class="slick-cont">
                <div class="tab-mod">
                  <div class="audio-mod">
                    <audio autoplay="" loop="">
                      <source id="playaudio" type="audio/mpeg">
                    </audio>
                  </div>
                  <div class="scroll-tab tab-bar">
                    <div class="scroll-box">
                      <div class="scroll-track">
                        <div class="scroll-item chage-ad-btn" :data-src="item.audio" :class="index == 0 ? 'cur':''" v-for="(item,index) in getResdatasList" v-if="item.link && item.linktype<2" :key="index" :data-src="item.audio" @mouseover="mouseOver( item.name , item.audio )" @mouseleave="mouseLeave()">
                          <!--

                          -->
                          <a href="javascript:;" @click="jumpres(item.link,item.linktype)" :style="item.linktype == 2 ? 'cursor: default':'' ">
                            <div class="con">
                              <div class="img img1">
                                <img v-lazy="item.pic" alt="" class="i">
                              </div>
                              <div class="img img2">
                                <img v-lazy="item.pichover" alt="" class="i">
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="tab-cont">
                    <div class="tab-item1 ">{{resourcesname}}</div>
                  </div> -->
                  <div style="
                      font-size: 30px;
                      font-family: 'sy';
                      text-align: center;
                      margin: 30px 100px 0;
                    ">
                    {{resourcesname}}
                  </div>
                </div>
              </div>
            </div>
            <div class="slick-item" data-container="专题">
              <div class="slick-cont">
                <div class="tracker-mod dir-hor">
                  <div class="tracker-box">
                    <div class="tracker-track">
                      <div class="tracker-item">
                        <div class="t">
                          <a @click_1111="getdatas('专题')">专题推荐</a>
                        </div>
                      </div>
                      <div class="tracker-item">
                        <div class="t">
                          <a @click_1111="getdatas('专题')">最新专题</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tracker-tab">
                  <div class="tracker-tabcont act">
                    <div class="tracker-cont">
                      <div class="list" style="display: flex; justify-content: center">
                        <div class="item" v-for="( item , index ) in specialList" :key="index" :class="changeindex == index ? 'cur':''" @mouseover="specialchange(index)" @mouseleave="specialback()">
                          <a :href="item.linktype == 2 ? 'javascript:;' : item.link" :style="item.linktype == 2 ? 'cursor: default':'' " :target="item.link == '' ? '':'_blank'">
                            <div class="imgs">
                              <div class="img img1">
                                <img v-lazy="item.pic" alt="" class="i">
                              </div>
                              <div class="img img2">
                                <img v-lazy="item.pichover" alt="" class="i">
                              </div>
                            </div>
                            <div class="text">
                              <div class="t1">{{item.name}}</div>
                              <div style="display: flex; justify-content: center">
                                <div class="t2">
                                  <span>{{item.desc}}</span>
                                </div>
                                <div class="t2">
                                  <span>{{item.desc_two}}</span>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="moreBox">
                      <a href="special/special.html" class="guiMore" target="_blank"><psan>更多</psan></a>
                    </div>
                  </div>
                  <div class="tracker-tabcont">
                    <div class="tracker-cont">
                      <div class="list" style="display: flex; justify-content: center">
                        <div class="item" v-for="( item , index ) in newspeciallist" :key="index" :class="changeindex == index ? 'cur':''" @mouseover="specialchange(index)" @mouseleave="specialback()">
                          <a :href="'/special/special_details.html#/?id='+item.id" target="_blank">
                            <div class="imgs">
                              <div class="img1 img">
                                <img v-lazy="fileurl+item.home_pic" alt="" class="i">
                              </div>
                              <div class="img img2">
                                <img v-lazy="fileurl+item.home_pic_active" alt="" class="i">
                              </div>
                            </div>
                            <div class="text">
                              <div class="t1">{{item.name}}</div>
                              <div style="display: flex; justify-content: center">
                                <div class="t2">
                                  <span>收藏量：
                                    {{transform(item.collection_num)}}次</span>
                                </div>
                                <div class="t2">
                                  <span>播放量：{{transform(item.play_num)}}次播放</span>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="moreBox">
                      <a href="special/special.html" class="guiMore" target="_blank"><psan>更多</psan></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slick-item" data-container="讲坛">
              <div class="slick-cont">
                <div class="tracker-mod dir-hor">
                  <div class="tracker-box">
                    <div class="tracker-track">
                      <div class="tracker-item">
                        <div class="t">
                          <a @click_1111="getdatas('讲坛')">讲坛</a>
                        </div>
                      </div>
                      <div class="tracker-item">
                        <div class="t">
                          <a @click_1111="getdatas('专家')">专家</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tracker-tab">
                  <div class="tracker-tabcont forum act">
                    <div class="tracker-cont">
                      <div class="list" style="display: flex; justify-content: center">
                        <div class="item" v-for="( item , index ) in forumList" :key="index" :class="changeindex == index ? 'cur':''" @mouseover="specialchange(index)" @mouseleave="specialback()">
                          <a :href="item.linktype == 2 ? 'javascript:;' : item.link" :style="item.linktype == 2 ? 'cursor: default':'' ">
                            <div class="imgs">
                              <div class="img1 img">
                                <img v-lazy="item.pic" alt="" class="i">
                              </div>
                              <div class="img img2">
                                <img v-lazy="item.pichover" alt="" class="i">
                              </div>
                            </div>
                            <div class="text">
                              <div class="t1">{{item.name}}</div>
                              <div style="display: flex; justify-content: center">
                                <div class="t2">
                                  <span>{{item.desc}}</span>
                                </div>
                                <div class="t2">
                                  <span>{{item.desc_two}}</span>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="moreBox">
                      <a href="lecture/index.html" class="guiMore" target="_blank"><psan>更多</psan></a>
                    </div>
                  </div>
                  <div class="tracker-tabcont expert">
                    <div class="tracker-cont">
                      <div class="list" style="display: flex; justify-content: center">
                        <div class="item" v-for="( item , index ) in zjList" :key="index" :class="changeindex == index ? 'cur':''" @mouseover="specialchange(index)" @mouseleave="specialback()" :style="item.linktype == 2 ? 'cursor:auto' : ''">
                          <a :href="item.linktype == 2 ? 'javascript:;' : item.link">
                            <div class="imgs">
                              <div class="img1 img">
                                <img v-lazy="item.pic" alt="" class="i">
                              </div>
                              <div class="img img2">
                                <img v-lazy="item.pichover" alt="" class="i">
                              </div>
                            </div>
                            <div class="text">
                              <div class="t1">{{item.name}}</div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="moreBox">
                      <a href="person/index.html" class="guiMore" target="_blank"><psan>更多</psan></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slick-item" data-container="专栏">
              <div class="slick-cont">
                <div class="tracker-mod dir-hor">
                  <div class="tracker-box">
                    <div class="tracker-track">
                      <div class="tracker-item">
                        <div class="t">
                          <a @click_1111="getdatas('专栏')">专栏</a>
                        </div>
                      </div>
                      <div class="tracker-item">
                        <div class="t">
                          <a @click_1111="getdatas('作者')">作者</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tracker-tab">
                  <div class="tracker-tabcont forum act">
                    <div class="tracker-cont">
                      <div class="list" style="display: flex; justify-content: center">
                        <div class="item" v-for="( item , index ) in columnList" :key="index" :class="changeindex == index ? 'cur':''" @mouseover="specialchange(index)" @mouseleave="specialback()">
                          <a :href="item.linktype == 2 ? 'javascript:;' : item.link" :style="item.linktype == 2 ? 'cursor: default':'' ">
                            <div class="imgs">
                              <div class="img1 img">
                                <img v-lazy="item.pic" alt="" class="i">
                              </div>
                              <div class="img img2">
                                <img v-lazy="item.pichover" alt="" class="i">
                              </div>
                            </div>
                            <div class="text">
                              <div class="t1">{{item.name}}</div>
                              <div style="display: flex; justify-content: center">
                                <div class="t2">
                                  <span> {{item.desc}}</span>
                                </div>
                                <div class="t2">
                                  <span>{{item.desc_two}}</span>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="moreBox">
                      <a href="column/column.html" class="guiMore" target="_blank"><psan>更多</psan></a>
                    </div>
                  </div>
                  <div class="tracker-tabcont expert">
                    <div class="tracker-cont">
                      <div class="list" style="display: flex; justify-content: center">
                        <div class="item" v-for="( item , index ) in zzList" :key="index" :class="changeindex == index ? 'cur':''" @mouseover="specialchange(index)" @mouseleave="specialback()">
                          <a :href="item.linktype == 2 ? 'javascript:;' : item.link" :style="item.linktype == 2 ? 'cursor: default':'' ">
                            <div class="imgs">
                              <div class="img1 img">
                                <img v-lazy="item.pic" alt="" class="i">
                              </div>
                              <div class="img img2">
                                <img v-lazy="item.pichover" alt="" class="i">
                              </div>
                            </div>
                            <div class="text">
                              <div class="t1">{{item.name}}</div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="moreBox">
                      <a href="column/column_author.html" class="guiMore" target="_blank"><psan>更多</psan></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slick-nav"></div>
      </div>
    </div>
    <!-- inject:private:js -->
    <script src="js/Customcursors.min.js"></script>
    <!-- inject:private:js -->
    <script src="utils/utils/lazyload.js"></script>
    <script src="utils/utils/lazyloadconfig.js"></script>
    <!-- endinject -->
    <script>
      LazyLoad.js(lazyloadconfig, function () {
        Vue.use(VueLazyload);
        new Vue({
          el: "#app",
          router,
          data: {
            getResdatasList: [],
            hometype: [],
            specialList: [],
            forumList: [],
            zjList: [],
            zzList: [],
            columnList: [],
            newspeciallist: [],
            Banners: [],
            resourcesname: "",
            resourcesaudio: "",
            audiourl: "",
            showguide: false,
            changeindex: -1,
            fileurl: config.attachment,
          },
          mounted() {
            this.getResdatas();
            this.getHomeType();
            this.getdatas("专题");
            this.getdatas("讲坛");
            this.getdatas("专家");
            this.getdatas("专栏");
            this.getdatas("作者");
            this.getsplist();
            this.getBanners();
            const { showguide } = this.$route.query;
          //  if (showguide) {
              this.showguide = true;
              this.$nextTick(() => {
                setTimeout(() => {
                  $(".guide1").addClass("showd");
                });

                var scene = document.getElementById("scene");
                var parallax = new Parallax(scene);
                this.guidinit();
                setTimeout(() => {
                  $(".guide2").addClass("showd xr-act animat");
                  $(".audio_btn").hide();
                  $(".audio_btn").addClass("center");
                }, 400);
              });
            // } else {
            //   this.guidinit();
            //   setTimeout(() => {
            //     $(".guide2").addClass("showd xr-act");
            //     $(".audio_btn").hide();
            //     $(".audio_btn").addClass("center");
            //   }, 400);
            // }
             send(config.addPageView, "post", {})
              .then((res) => {})
              .catch((error) => {});
          },
          methods: {
            getsplist(page) {
              let where = {
                pagesize: 4,
                pag: 1,

                time: "up",
              };

              send(special.getSpecialList, "get", where)
                .then((res) => {
                  this.newspeciallist = res.list;
                })
                .catch((error) => {
                  console.log(error);
                });
            },
            guidinit() {
              $(".audio_btn .audio-mod").xAudio({
                loop: true,
                autoplay: true,
              });

              $(".guide1 .btn_come").on("click", function () {
                $(this).parents(".showd").addClass("hided");
                $(".audio_btn").addClass("center");
                $(".audio_btn").hide();
                $(".guide2").addClass("showd animat");

                if (
                  $(".audio_btn .audio-mod .audio-play").hasClass(
                    "icon-media-pause"
                  )
                ) {
                  $(".audio_btn .audio-mod .audio-play").click();
                  // setTimeout(function () {
                  //   $(".audio_btn .audio-mod .audio-play").click();
                  // }, 2300);
                }

                // setTimeout(function () {
                //   $(".guide2 .active .inner .p").each(function (i, e) {
                //     var type = ["chars", "words"];
                //     var txt = new SplitText(e, {
                //       type: "chars,words",
                //     });
                //     $.xRoll({
                //       item: {
                //         elm: txt[type[i]],
                //       },
                //       scroller: "50%",
                //       anchor: ".guide2",
                //       tween: {
                //         y: "300%",
                //         rotationX: 180,
                //         transformOrigin: "0% 0% -20",
                //         stagger: 0.02 + i * 0.01,
                //         delay: i * 0.2,
                //       },
                //     });
                //   });
                // }, 2300);
              });
            },
            jumpres(url, linktype) {
              if (linktype == 2) {
                return;
              }
              if (
                $(".audio_btn .audio-mod .audio-play").hasClass(
                  "icon-media-pause"
                )
              ) {
                $(".audio_btn .audio-mod .audio-play").click();
                _play = true;
              } else {
                _play = false;
              }
              $(".guide3 .audio-mod audio").attr("src", "");
              setTimeout(() => {
                // window.open(url);
                window.location.href = url;
              }, 1000);
            },
            init() {
              $(".chage-ad-btn").on("mouseenter", function (e) {
                e.stopPropagation();

                if ($(this).find("video").length > 0) {
                  // console.log(1)
                  $(this).find("video").get(0).play();

                  if (
                    $(".audio_btn .audio-mod .audio-play").hasClass(
                      "icon-media-pause"
                    )
                  ) {
                    $(".audio_btn .audio-mod .audio-play").click();
                    _play = true;
                  } else {
                    _play = false;
                  }
                } else {
                  // console.log(2)
                  var _src = $(this).attr("data-src");

                  $(".guide3 .cont .slick-cont .audio-mod audio").attr(
                    "src",
                    _src
                  );

                  if (
                    $(".audio_btn .audio-mod .audio-play").hasClass(
                      "icon-media-pause"
                    )
                  ) {
                    $(".audio_btn .audio-mod .audio-play").click();
                    _play = true;
                  } else {
                    _play = false;
                  }
                }

                $(".guide3 .cont .tab-cont .tab-item1")
                  .eq($(this).index())
                  .addClass("act")
                  .siblings()
                  .removeClass("act");
              });

              $(".guide3 .slick-arrow").on("click", function () {
                $(".guide3 .audio-mod audio").attr("src", "");
                $(".guide3 .cont .con .img video.i").each(function () {
                  if ($(this).get(0).play()) {
                    $(this).get(0).pause();
                    $(".guide3 .cont .scroll-item")
                      .eq(0)
                      .addClass("cur")
                      .siblings()
                      .removeClass("cur");
                  }
                });
              });
            },
            bannerinit() {
              $(document).on("click", "#pp-nav li", () => {
                $("#pp-nav li").addClass("disbled");
                setTimeout(function () {
                  $("#pp-nav li").removeClass("disbled");
                }, 1200);
              });
              $(".guide2 .pagepiling").pagepiling({
                direction: "vertical",
                navigation: {
                  position: "bottom",
                },
                loopBottom: false,
                loopTop: false,
                scrollingSpeed: 0,
                keyboardScrolling: false,
                normalScrollElementTouchThreshold: 20,
                afterRender: function afterRender() {
                  $(".guide2 .section").each(function (idx) {
                    if ($(this).hasClass("active")) {
                      if (idx == 0) {
                        $(this).siblings().addClass("bot");
                      }
                    }
                  });
                },
                onLeave: function onLeave(index, nextIndex, direction) {
                  var $index = nextIndex - 1;
                  console.log(index, nextIndex);
                  $(".guide2 .section").removeClass("top");
                  $(".guide2 .section").removeClass("bot");
                  $(".guide2 .section").each(function (idx, ele) {
                    if (idx < $index) {
                      $(this).addClass("top");
                    }

                    if (idx > $index) {
                      $(this).addClass("bot");
                    }
                  });
                  $.fn.pagepiling.setAllowScrolling(false);
                  setTimeout(function () {
                    $("#pp-nav li").removeClass("disbled");
                    $.fn.pagepiling.setAllowScrolling(true);
                  }, 1200);
                  $(".guide2").addClass("animat");
                  //$(".guide2 .active .inner").hide();

                  setTimeout(function () {
                    // $(".guide2 .active .inner").show();
                    // $(".guide2 .active .inner .p").each(function (i, e) {
                    //   var type = ["chars", "words"];
                    //   var txt = new SplitText(e, {
                    //     type: "chars,words",
                    //   });
                    //   $.xRoll({
                    //     item: {
                    //       elm: txt[type[i]],
                    //     },
                    //     scroller: "50%",
                    //     anchor: ".guide2",
                    //     tween: {
                    //       y: "300%",
                    //       rotationX: 180,
                    //       transformOrigin: "0% 0% -20",
                    //       stagger: 0.02 + i * 0.01,
                    //       delay: i * 0.2,
                    //     },
                    //   });
                    // });
                  }, 600);

                  var _index = index;

                  if (_index == $(".guide2 .section").length) {
                    $(".guide2 .section")
                      .eq($(".guide2 .section").length - 1)
                      .on("mousewheel DOMMouseScroll", function (e) {
                        var delta =
                          (e.originalEvent.wheelDelta &&
                            (e.originalEvent.wheelDelta > 0 ? 1 : -1)) || // chrome & ie
                          (e.originalEvent.detail &&
                            (e.originalEvent.detail > 0 ? -1 : 1)); // firefox

                        if (delta < 0) {
                          // 向下滚
                          $(".guide2 .btn_come").click();
                          $(".guide2 .pagepiling").pagepiling.setAllowScrolling(
                            false
                          );
                        }
                      });
                  }
                },
              });
              $(".guide2 .section").each(function (idx) {
                if ($(".guide2 .section").length <= 1) {
                  $(".guide2 .slick-nav").hide();
                }
              });
            },
            getHomeType() {
              send(wellcome.getHomeType, "get")
                .then((res) => {
                  this.hometype = res.data;
                 // console.log("getHomeType", res.data);
                })
                .catch((error) => {
                  console.log(error);
                });
            },
            getResdatas() {
              send(wellcome.getResdatas, "get")
                .then((res) => {
                  //console.log(res.data);
                  this.getResdatasList = res.data;
                  // this.getResdatasList.audio = config.attachment + res.data.audio
                  this.$nextTick(() => {
                    this.init();
                  });
                })
                .catch((error) => {
                  console.log(error);
                });
            },
            getBanners() {
              send(config.getBanners, "get", {
                pathKey: "引导页",
              })
                .then((res) => {
                  this.Banners = res.data;
                 // console.log(this.Banners);
                  setTimeout(() => {
                    this.bannerinit();
                  }, 200);
                })
                .catch((error) => {
                  console.log(error);
                });
            },
            getdatas(pathKey) {
              let where = {
                pathKey: pathKey,
              };
              send(wellcome.getdatas, "get", where)
                .then((res) => {
                  if (pathKey == "专题") {
                    this.specialList = res.data; //专题
                  }
                  if (pathKey == "讲坛") {
                    this.forumList = res.data; //讲坛
                  }
                  if (pathKey == "专栏") {
                    this.columnList = res.data; //专栏
                  }
                  if (pathKey == "专家") {
                    this.zjList = res.data;
                  }
                  if (pathKey == "作者") {
                    this.zzList = res.data;
                    setTimeout(() => {
                      this.$nextTick(() => {
                        this.guid3init();
                      });
                    }, 1500);
                  }
                })
                .catch((error) => {
                  console.log(error);
                });
            },
            guid3init() {
              if ($(window).width() >= 768) {
                $(".guide3 .cont .scroll-item").on("mouseleave", function () {
                  $(".guide3 .cont .tab-cont .tab-item1").removeClass("act");

                  if ($(this).find("video").length > 0) {
                    // console.log(1)
                    $(this).find("video").get(0).pause();

                    // if (_play == true) {
                    //   $(".audio_btn .audio-mod .audio-play").click();
                    // }

                    // _play = true;
                  } else {
                    // console.log(2)
                    // if (_play == true) {
                    //   $(".audio_btn .audio-mod .audio-play").click();
                    // }
                    // _play = true;
                  }
                });
                $(".chage-ad-btn").on("mouseenter", function (e) {
                  e.stopPropagation();

                  if ($(this).find("video").length > 0) {
                    // console.log(1)
                    $(this).find("video").get(0).play();

                    if (
                      $(".audio_btn .audio-mod .audio-play").hasClass(
                        "icon-media-pause"
                      )
                    ) {
                      $(".audio_btn .audio-mod .audio-play").click();
                      _play = true;
                    } else {
                      _play = false;
                    }
                  } else {
                    // console.log(2)
                    var _src = $(this).attr("data-src");

                    $(".guide3 .cont .slick-cont .audio-mod audio").attr(
                      "src",
                      _src
                    );

                    if (
                      $(".audio_btn .audio-mod .audio-play").hasClass(
                        "icon-media-pause"
                      )
                    ) {
                      $(".audio_btn .audio-mod .audio-play").click();
                      _play = true;
                    } else {
                      _play = false;
                    }
                  }

                  $(".guide3 .cont .tab-cont .tab-item1")
                    .eq($(this).index())
                    .addClass("act")
                    .siblings()
                    .removeClass("act");
                });
              } else {
                $(".guide3 .cont .tracker-cont .list").slick({
                  autoplay: false,
                  arrows: true,
                  dots: false,
                  draggable: false,
                  swipe: false,
                  touchMove: false,
                });
                $(".audio_btn .audio-mod .audio-play").on("click", function () {
                  $(".guide3 .audio-mod audio").attr("src", "");
                });
                $(".chage-ad-btn").on("click", function (e) {
                  var _src = $(this).attr("data-src");

                  if ($(this).find("video").length > 0) {
                    $(this).find("video").get(0).play();

                    if (
                      $(".audio_btn .audio-mod .audio-play").hasClass(
                        "icon-media-pause"
                      )
                    ) {
                      $(".audio_btn .audio-mod .audio-play").click();
                      _play = true;
                    } else {
                      _play = false;
                    }
                  } else {
                    if (
                      $(".audio_btn .audio-mod .audio-play").hasClass(
                        "icon-media-pause"
                      )
                    ) {
                      $(".audio_btn .audio-mod .audio-play").click();
                    }

                    $(".guide3 .cont .tab-cont .tab-item1")
                      .eq($(this).index())
                      .addClass("act1")
                      .siblings()
                      .removeClass("act1");
                    setTimeout(function () {
                      $(".guide3 .cont .slick-cont .audio-mod audio").attr(
                        "src",
                        _src
                      );
                    }, 500);
                  }
                });
              }

              var _prev, _next;

              $(".guide3 .cont .slick-mod").on("init", function (e, s) {
                $(".guide3 .cont .slick-mod .slick-slide").each(function (
                  i,
                  e
                ) {
                  if (
                    $(this).attr("data-slick-index") >= 0 &&
                    !$(this).hasClass("slick-cloned")
                  ) {
                    var _that = $(this);

                    if ($(this).hasClass("slick-active")) {
                      _prev = _that
                        .prev()
                        .find(".slick-item")
                        .attr("data-container");
                      _next = _that
                        .next()
                        .find(".slick-item")
                        .attr("data-container");
                    }
                  }
                });
                $(this)
                  .parents(".cont")
                  .siblings(".slick-nav")
                  .find(".slick-arrow")
                  .each(function () {
                    $(this).append("<span class='before'></span>");

                    if ($(this).hasClass("slick-prev")) {
                      $(this).find("span").html(_prev);
                    }

                    if ($(this).hasClass("slick-next")) {
                      $(this).find("span").html(_next);
                    }
                  });
              });
              $(".guide3 .cont .slick-mod").on(
                "afterChange",
                function (e, s, c) {
                  $(".guide3 .cont .slick-mod .slick-slide").each(function (
                    i,
                    e
                  ) {
                    if (
                      $(this).attr("data-slick-index") >= 0 &&
                      !$(this).hasClass("slick-cloned")
                    ) {
                      var _that = $(this);

                      if ($(this).hasClass("slick-active")) {
                        _prev = _that
                          .prev()
                          .find(".slick-item")
                          .attr("data-container");
                        _next = _that
                          .next()
                          .find(".slick-item")
                          .attr("data-container");
                      }
                    }
                  });
                  $(this)
                    .parents(".cont")
                    .siblings(".slick-nav")
                    .find(".slick-arrow")
                    .each(function () {
                      if ($(this).hasClass("slick-prev")) {
                        $(this).find("span").html(_prev);
                      }

                      if ($(this).hasClass("slick-next")) {
                        $(this).find("span").html(_next);
                      }
                    });
                }
              );
              $(".guide3 .cont .slick-mod").slick({
                autoplay: false,
                arrows: true,
                dots: false,
                draggable: false,
                swipe: false,
                touchMove: false,
                appendArrows: $(".guide3 .slick-nav"),
                infinite: true,
                speed: 1000,
              });

              $(".guide3 .cont .scroll-item").on("click", function () {
                $(".guide3 .cont .scroll-item").addClass("noMar");
              });
            },
            mouseOver(name, audio) {
              this.resourcesname = name;
              this.resourcesaudio = audio;
              this.attachment(audio);
              let audiosrc = document.getElementById("playaudio");
              //console.log(audiosrc);
              audiosrc.src = this.audiourl;
            },
            mouseLeave() {
              this.resourcesname = "";
            },
            attachment(audio) {
              this.audiourl = config.attachment + audio;
            },
            specialchange(index) {
              this.changeindex = index;
            },
            specialback() {
              this.changeindex = -1;
            },
          },
        });
        //Devend

        var cursor = new Cursor();

        $(".guide2 .btn_come").on("click", function () {
          $(this).parents(".showd").addClass("hided");
          $(".guide3").fadeIn(3000);
          $(".guide3").addClass("showdItem");
          $(".audio_btn").hide();
          if (
            $(".audio_btn .audio-mod .audio-play").hasClass("icon-media-pause")
          ) {
            setTimeout(function () {
              $(".audio_btn .audio-mod .audio-play").click();
            }, 2300);
          }
        });

        $(".guide2 .btn_come").on("click", function () {
          $(".guide3").fadeIn(3000);
          $(".guide3").addClass("showdItem");
        });
        $(".guide3 .navBox").on("click", function (e) {
          e.stopPropagation();
        });
        $(".guide2 .navBox").on("click", function (e) {
          e.stopPropagation();
        });
        $(".guide3 .menu-btn").on("click", function (e) {
          return;
          e.stopPropagation();
          $(this).toggleClass("menu-open");

          if ($(this).hasClass("menu-open")) {
            $(".guide3").addClass("showd");
          } else {
            $(".guide3").removeClass("showd");
          }
        });
        $(".guide2 .menu-btn").on("click", function (e) {
          return;
          e.stopPropagation();
          //$(this).toggleClass("menu-open");

          if ($(this).hasClass("menu-open")) {
            $(".guide2").addClass("showdNav");
            $(this).removeClass("menu-open");
          } else {
            $(this).addClass("menu-open");
            $(".guide2").removeClass("showdNav");
          }
        });

        var _play;

        $(".guide2 .slick-prev").on("click", function () {
          $(".guide3").fadeIn(3000);
          $(".guide3").addClass("showdItem");
          $(this).parents(".showd").addClass("hided");
          $(".guide2").addClass("showd");
          $(".guide3 .cont .slick-mod").slick("slickGoTo", 1);
        });
        $(".guide2 .slick-next").on("click", function () {
          $(".guide3").fadeIn(3000);
          $(".guide3").addClass("showdItem");
          $(this).parents(".showd").addClass("hided");
          $(".guide2").addClass("showd");
          $(".guide3 .cont .slick-mod").slick("slickGoTo", 2);
        });
        $(".guide3 .cont .tracker-cont .list .item").on(
          "mousemove",
          function () {
            $(this).addClass("cur").siblings().removeClass("cur");
          }
        );
        $(".guide3 .cont .tracker-cont .list .item").on(
          "mouseleave",
          function () {
            $(".guide3 .cont .tracker-cont .list .item").removeClass("cur");
          }
        );
        $(".guide3 .cont .tracker-mod .tracker-item").on("click", function () {
          var _idx = $(this).index();

          $(this)
            .parents(".tracker-mod")
            .siblings(".tracker-tab")
            .children(".tracker-tabcont")
            .eq(_idx)
            .addClass("act")
            .siblings()
            .removeClass("act");
        });
        $(".guide3 .slick-arrow").on("click", function () {
          $(".guide3 .audio-mod audio").attr("src", "");
          $(".guide3 .cont .con .img video.i").each(function () {
            if ($(this).get(0).play()) {
              $(this).get(0).pause();
              $(".guide3 .cont .scroll-item")
                .eq(0)
                .addClass("cur")
                .siblings()
                .removeClass("cur");
            }
          });
        });
        $(".guide3 .cont .scroll-track").on("mouseleave", function () {
          $(".guide3 .audio-mod audio").attr("src", "");
          $(".guide3 .cont .scroll-item").removeClass("noMar");
        });
        $(".guide3 .cont .scroll-item").on("click", function () {
          $(".guide3 .cont .scroll-item").addClass("noMar");
        });
        $(".guide1 .cont .btn_come").on("click", function () {
          $(".guide1 .audio-mod").attr("data-set", "");
        });
        $(document).on("click", function () {
          $(".guide3 .menu-btn").removeClass("menu-open");
          $(".guide3").removeClass("showd");
          $(".guide2 .menu-btn").removeClass("menu-open");
          $(".guide2").removeClass("showdNav");
        });
        scrollTab(".guide3 .tab-mod"); //  o-滚动模块父级元素； v-是否垂直滚动，默认false

        function scrollTab(o, v) {
          var scrollbox = $(o).find(".scroll-box"),
            scrollitem = scrollbox.find(".scroll-item"),
            prev = $(o).find(".scroll-prev"),
            next = $(o).find(".scroll-next");
          v = v || false;
          var myScroll = new IScroll(scrollbox[0], {
            mouseWheel: false,
            scrollX: !v,
            scrollY: v,
            click: true,
            tap: true,
          });
          $(window).on("load", function () {
            myScroll.scrollToElement(o + " .scroll-item.cur", 0, true, null);
          });
          scrollbox.on("touchmove", function (e) {
            e.preventDefault();
          });
          prev.on("click", function () {
            if (!$(this).hasClass("disabled")) {
              $(o + " .scroll-item.cur")
                .prev()
                .trigger("click");
            }
          });
          next.on("click", function () {
            if (!$(this).hasClass("disabled")) {
              $(o + " .scroll-item.cur")
                .next()
                .trigger("click");
            }
          });
          scrollitem.on("click", function () {
            var _this = $(this);

            var _idx = _this.index();

            $(this).addClass("cur").siblings().removeClass("cur");

            if (_idx > 0) {
              prev.removeClass("disabled");
            } else {
              prev.addClass("disabled");
            }

            if (_idx < scrollitem.length - 1) {
              next.removeClass("disabled");
            } else {
              next.addClass("disabled");
            }

            myScroll.scrollToElement(
              this,
              500,
              !v,
              v,
              IScroll.utils.ease.circular
            );
          });
        }
      });
    </script>
    <!-- endinject -->
  <script src="js/hm.js"></script>
</body>
</html>
